@charset "utf-8";
.left_bookshelf{ width:218px; height:579px; display:block; padding-left:50px;}
.left_classitfy{ position:relative; padding-top:60px; background:url(../images/bookshelf_left_1.png) no-repeat right top;}
	.left_classitfy ul li a{ width:165px; height:35px; display:block; line-height:38px; padding-left:22px;font-family: "DFHaibaoW12"; color:#ffffff; font-size:18px; margin-bottom:3px;}
	.left_classitfy ul li a{ background:url(../images/bookrack_left.jpg) no-repeat}
	.left_classitfy ul li a:hover{background:url(../images/bookrack_left_s.jpg) no-repeat}
	.left_classitfy ul li a.active{ background:url(../images/bookrack_left_s.jpg) no-repeat;}
	.left_classitfy_img{ position:absolute; top:0; right:0;}
.left_bookmark{ background:url(../images/bookrack_collect_left.jpg) no-repeat;}
.bookshelf_main_bg{ background:url(../images/bookshelf.png) no-repeat; width:1008px; height:613px;}
/*抱云彩*/
.page-ebooklist-category .bookshelf_main_bg{ background:url(../images/bookshelf_2.png) no-repeat; width:1020px; height:613px;}
.page-ebooklist-category .classify_name{ color:#f26522; width:150px;position: absolute;bottom: 190px;right: 25px;}

.left_bookshelf,.bookshelf_main_bg{ margin-top:105px;}

/*top clssify*/
.top_bookshelf{ width:935px; height:65px; line-height:65px; display:block}
.top_bookshelf li { float:left;list-style:none;}
.top_bookshelf li a{ background:url(../images/bookrack.jpg) no-repeat; display:block; width:167px; height:50px; font-size:23px; color:#ffffff!important; font-family:"DFHaibaoW12"; line-height:50px; text-align:center; margin-top:8px; margin-left:60px;}

.top_bookshelf li a:hover{ background:url(../images/bookrack_s.jpg)}
.top_bookshelf li a.active{ background:url(../images/bookrack_s.jpg) no-repeat}
.top_bookshelf li.top_nav_s{ background:url(../images/bookrack_s.jpg) no-repeat}
/*booklist*/
ul.book_list li:nth-of-type(6) { margin-left:22px;}
ul.book_list li:nth-of-type(11) { margin-left:32px;}
.book_list{ width:875px; margin-top:8px; height:435px; display:block;}
.book_list li{  float:left; position:relative; padding-bottom:15px; margin-right:30px;}
.book_list li img{  display:block; float:left;  height:130px; z-index:1}

/*含收藏页五个看动画……   kdh*/
.book_list li span a,
.book_list li.ebook span a{  position: absolute;left: 28px; top: 0; font-family:"DFHaibaoW12"; font-size:18px; color:#ffffff; z-index:2; text-align:center; width:100px; height:21px; margin-top:100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;-o-text-overflow:ellipsis; }
.book_list li.teg span a,
.book_list li.kan span a,
.book_list li.zyx span a,
.book_list li.kdh span a,
.book_list li.video span a{   color:#f7941d!important;left: 20px!important; top: -10px!important }
.book_list li .big_image{position: absolute; display: none; left:70px; top:115px;width:308px; height:296px; display:none ;  background-repeat:no-repeat; /*background-size:contain;*/z-index:999;}
.book_list li .big_image span a,
.book_list li .big_image span{ font-family:"DFHaibaoW12"; font-size:23px;padding-top:110px!important; text-align:center; color:#ffffff; display:block; width:235px; padding-left:25px; line-height:130%; white-space:normal!important; height:70px;z-index:1000;}
.book_list li .big_image span{padding-top:200px!important; margin-left:20px;}

.book_list li.video .big_image span a{ color:#f7941d!important;padding-left:10px!important;padding-top:120px!important}

.classify_name{ position:absolute; bottom:190px; right:60px; font-size:22px; font-family:"DFHaibaoW12"; color:#ffffff;width: 100px;height:25px;display: block;text-align: center;}



.book_list li.teg .big_image span,
.book_list li.kan .big_image span,
.book_list li.zyx .big_image span,
.book_list li.kdh .big_image span{color:#f7941d!important;padding-left:10px!important;padding-top:200px!important; display:block}


/*pager*/
.item-list .pager{ /*position:absolute;left: 510px;bottom: 145px;*/  height:70px; display:block; }
.item-list .pager li,
.item-list .pager li a{ color:#ffffff;font-family:"DFHaibaoW12"; font-size:18px; text-align:center; line-height:29px; margin:0px!important;}
.item-list .pager .pager-first{background:url(../images/pager-first-bg.jpg) no-repeat center center; display:block; width:23px; height:25px;}
.item-list .pager .pager-previous{background:url(../images/pager-previous-bg.jpg) no-repeat center center; display:block; width:23px; height:25px;}
.item-list .pager .pager-item{background:url(../images/pager-item-bg.jpg) no-repeat center center; display:block; width:30px; height:29px;}
.item-list .pager .pager-current{background:url(../images/pager-current-bg.jpg) no-repeat center center; display:block; width:30px; height:29px;}
.item-list .pager .pager-next{background:url(../images/pager-next-bg.jpg) no-repeat center center; display:block; width:23px; height:25px;}
.item-list .pager .pager-last{background:url(../images/pager-last-bg.jpg) no-repeat center center; display:block; width:23px; height:25px;}
.item-list .pager .pager-previous a,
.item-list .pager .pager-next a,
.item-list .pager .pager-last a,
.item-list .pager .pager-first a{ display:block; height:0px; padding-top:18px; width:10px; overflow:hidden}

.item-list{  position: absolute; width:635px; right:0; bottom:-80px;}
.book_list{ position:relative;}